/*index*/
.body {
  height: 100vh;
  width: 100%;
  background-color: #d4d1d1; }

.header {
  background-image: linear-gradient(blue, #1f1b1b);
  height: 6rem; }

.h1 {
  text-align: center;
  font-size: 70px;
  font-style: normal;
  font-family: sans-serif;
  color: #d4d1d1; }

.nav {
  background-color: #1f1b1b;
  color: #dbcfcf;
  position: relative;
  padding: 0; }

.linav {
  color: white;
  text-decoration: none; }

.pnav {
  font-size: x-large;
  font-weight: bold;
  position: relative;
  left: 40px; }

.imgindex {
  height: auto;
  width: 100%; }

.lorem {
  font-size: 21px;
  padding: 1rem; }

.footer {
  font-style: normal;
  font-family: sans-serif;
  font-weight: bold;
  background-image: linear-gradient(black, blue);
  height: auto;
  border-top: solid 2px #1f1b1b; }
  .footer_ul {
    position: relative;
    left: 7px;
    list-style-type: none;
    color: #d4d1d1; }

/*nosotros*/
.bodynos {
  height: 100vh;
  width: 100%;
  background-color: #d4d1d1; }

.h1nos {
  font-style: italic; }

.uno {
  height: auto;
  font-size: large;
  padding: 1.5rem; }

/*informacion*/
.bodyinfo {
  height: 100vh;
  width: 100%;
  background-color: #d4d1d1; }

.imginfo {
  height: auto;
  width: 100%; }

.divinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  font-size: x-large; }

/*productos*/
.bodyprod {
  height: 100vh;
  width: 100%;
  background-color: #d4d1d1; }

.mainprod {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.h1prod, .h1nos {
  height: auto;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3rem; }

.divprod {
  border: solid 3px #1f1b1b;
  text-align: center; }

.divprod2 {
  margin: 3rem 1rem 5rem 1rem; }

/*contacto*/
.bodycont {
  height: 100vh;
  background-color: #d4d1d1;
  align-items: center; }

.sectioncont {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.imagencont {
  height: auto;
  width: 100%; }

.formcontac {
  display: flex;
  flex-direction: column;
  text-align: end;
  margin: 3rem; }

.h1cont {
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center; }

/* estilo mobile*/
@media screen and (max-width: 480px) {
  .ul {
    text-align: center; }
  .body {
    height: 67rem;
    justify-content: center; }
  .lorem {
    padding: 1rem; }
  .bodycont {
    height: 70rem;
    align-items: center;
    justify-content: center; }
  .bodyinfo {
    justify-content: center; }
  .bodynos {
    align-items: center;
    justify-content: center; }
  .bodyprod {
    height: 85rem;
    justify-content: center; } }

.colornegro {
  color: #1f1b1b; }

.colorazul {
  color: blue; }

.pantagrande {
  height: 100vh;
  width: auto; }

.supercenter {
  display: flex;
  justify-content: center;
  align-items: center; }
