/*contacto*/

.bodycont{
    height: 100vh;
    background-color: $vargains;
    align-items: center;
}
.sectioncont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.imagencont{
    height: auto;
    width: 100%;
}
.formcontac{
    display: flex;
    flex-direction: column;
    text-align: end;
    margin: 3rem;
}
.h1cont{
   @extend .h1prod;
   margin: 50px;
}