/*productos*/

.bodyprod{
    height: 100vh;
    width: 100%;
    background-color: $vargains;  
}
.mainprod{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 60px;
}
.h1prod{
    height: auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4rem;
    margin: 50px;
}
.divprod{
    border: solid 3px rgb(31, 27, 27);
    text-align: center;
} 
.divprod2{
    margin: 3rem 1rem 5rem 1rem;
}